/* li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
} */


body { background-color: #43e7d9; 
height: 100vh;
}
.column, .columns, is-half{
  padding: 0px !important;
  margin: 0px !important;
}
#articles {
  display: inline-block;
  overflow: auto;
  height: 100vh;
  padding: 15px;
  padding-bottom:0px;
}
.notes-cover {
height: 100vh;
position: absolute;
top: 0px;
left: 50vw;
width: 50%;
z-index: 4;
  background-color: #4351e7;
margin-left: 0px;
padding: 20px;
padding-bottom:0px;

}
textarea, input {
  display: block;
  width: 45vw;
  background-color: rgb(255, 255, 255);
  margin: auto;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px; 
}
.note-headline{
  color: white;
  margin-top: 20vh;
  height: 20vh;
}

.navButton{
  min-width: 200px!important;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 2px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 10px;
}
.navButton:hover{
  box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.201);
}
.buttonLink{
  color: white;
}
.buttonLink:hover{
  color:whitesmoke;
}

.saveButton{
  margin:auto;
  width: 80%;
  border-top: 1px solid #4351e4;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: #4351e7;
  border-radius: 0px 0px 10px 10px;
}
.saveButton:hover{
  text-shadow: 0.5px 0.5px #4351e763;
}
.left{
  background-color: #E74351;
}
.subtitle{
  color: #4351e7 !important;
}

h1{
  color: white !important;
}

.card{
  margin-top:0px;
  overflow: hidden;
  margin:15px;
  max-width: 800px!important;
}

#titleinput{
  margin: auto;
  margin-bottom: 10px;
}

#bodyinput{
  margin: auto;
}

.imgsize{
  position: relative;
  top: 10px;
  z-index: 2;
  height: 175px!important;
  width: auto !important;
  margin:auto;
  border-radius: 2px;
  box-shadow: 0px 18px 50px 0px rgba(48, 48, 48, 0.9);
}

.imgbackground {
  min-width: 110%;
  max-height: 220px;
  display: block;
  position: absolute;
  top: -10px;
  background-image: url(https://media.npr.org/assets/img/2017/12/05/louie2_wide-175a0fd652013c0af8a6a50f589b71edfcb8f29c-s300-c15.jpg);
  /* background-size: cover;
  background-repeat: no-repeat; */
  filter: blur(6px);
}
.card-title{
  margin-top: 28px;
}
